<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._163.king13zhi.p2p.business.mapper.PaymentScheduleDetailMapper">
  <resultMap id="BaseResultMap" type="com._163.king13zhi.p2p.business.domain.PaymentScheduleDetail">
	  <id column="id" property="id" />
	  <result column="bidAmount" property="bidAmount" />
	  <result column="bidId" property="bidId" />
	  <result column="totalAmount" property="totalAmount" />
	  <result column="principal" property="principal" />
	  <result column="interest" property="interest" />
	  <result column="monthIndex" property="monthIndex" />
	  <result column="deadLine" property="deadLine" />
	  <result column="bidRequestId" property="bidRequestId" />
	  <result column="payDate" property="payDate" />
	  <result column="returnType" property="returnType" />
	  <result column="paymentScheduleId" property="paymentScheduleId" />
	  <result column="investorId" property="investorId" />

	  <association columnPrefix="bu_" javaType="com._163.king13zhi.p2p.base.domain.Logininfo" property="borrowUser">
		  <id column="id" property="id" />
		  <result column="username" property="username" />
	  </association>
  </resultMap>

  <insert id="insert" >
    insert into `paymentscheduledetail` (bidAmount, bidId, totalAmount, principal, interest, monthIndex,
      deadLine, bidRequestId, payDate, returnType, paymentScheduleId, 
      borrowUser_id, investorId)
    values (#{bidAmount}, #{bidId}, #{totalAmount}, #{principal}, #{interest}, #{monthIndex},
      #{deadLine}, #{bidRequestId}, #{payDate}, #{returnType}, #{paymentScheduleId}, 
      #{borrowUser.id}, #{investorId})
  </insert>

	<update id="updatePayDate">
		update paymentscheduledetail set payDate = #{payDate} where paymentScheduleId = #{psId}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
	select pct.id, pct.bidAmount, pct.bidId, pct.totalAmount, pct.principal, pct.interest, pct.monthIndex,
	pct.deadLine,
	pct.bidRequestId, pct.payDate, pct.returnType, pct.paymentScheduleId, pct.borrowUser_id, pct.investorId,
	bu.id bu_id ,bu.username bu_username,
	it.id it_id ,it.username it_username
	from `paymentscheduledetail` pct join logininfo bu on bu.id = pct.borrowUser_id
	join logininfo it on it.id = pct.investorId
	where pct.id = #{id}
</select>

	<select id="selectByPaymentScheduleId" resultMap="BaseResultMap">
		select pct.id, pct.bidAmount, pct.bidId, pct.totalAmount, pct.principal, pct.interest, pct.monthIndex,
		pct.deadLine,
		pct.bidRequestId, pct.payDate, pct.returnType, pct.paymentScheduleId, pct.borrowUser_id, pct.investorId,
		bu.id bu_id ,bu.username bu_username
		from `paymentscheduledetail` pct join logininfo bu on bu.id = pct.borrowUser_id
		where pct.paymentScheduleId = #{paymentScheduleId}
	</select>
</mapper>